
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}
.navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color:  yellow!important;
}
#navbarSupportedContent a{
    color: aliceblue;
    border-bottom: 2px solid transparent;

}
#navbarSupportedContent a:hover{
 border-bottom: 2px solid blueviolet;
}
#navbarSupportedContent button{
    background: blueviolet;
    width: 5rem;
    border-radius: 15px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/***home****/


#home{
    background: url(bg.jfif);

    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    filter: brightness(70%);
    flex-direction: column;
}
#home h1{
    font-size: 80px;
    color:white ;
    
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc;           
}
#home p{
    font-size: 18px;
    color: white !important;
}
#home .input-group{
    width: 40%;
    height: 45px;
}
.signin{
    background: green !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .3);
}

/***about****/

#about{
    background: linear-gradient(to right, lightblue 100%);

}
 #about img{
    border-radius: 50%;
    filter: brightness(90%);
 }
#about h1{
    font-weight: 800;
    font-size: 50px;
    color: darkblue;

}
#about p{
    color: black;
    font-weight:600;
}
/***products***/

#products{
    background: #e5e5e5;
}
#products h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#products img{
    width: 200px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background: #e5e5e5 !important;
    box-shadow: 15px 20px 20px rgba(0, 0, 0, .3), 
                 inset 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
    transition: .2s;
}
.card:hover{
    box-shadow:  inset 5px 5px 10px rgba(0, 0, 0, .3), 
                 inset -4px -4px 10px white;
     transition: .2s;
}

/***contacts***/

#contact img{
    height: 400px;
    width: 500px;
}
.box{
    width: 80% !important;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin: 10px 0px;
}

footer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    margin-top: -30px;
    text-align: center;
    
    padding: 3px;
}
footer p{
    color: #ccc;
}


